
#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}

#formulario_orden{
	width: 200px;
	height: auto;
	margin: 50px;
	position: relative;
}

h1{
	
	color: black;
	margin-left: 10px;
	font-size: 50px;
	text-align: center; 

}
h2{
	
	color: black;
	margin-left: 10px;
	font-size: 30px;
	text-align: center; 

}

h3{
	
	color: black;
	margin-left: 10px;
	font-size: 20px;
	text-align: center; 

}
h4{
	
	color: black;
	margin-left: 10px;
	font-size: 15px;
	text-align: left; 

}
h5{
	
	color: black;
	font-size: 12px;
	text-align: left; 

}
h6{
	
	color: black;
	font-size: 30px;
	text-align: left; 

}
h7{
	
	color: black;
	font-size: 11px;
	text-align: left; 

}

header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
/*background: grey;*/
border-radius: 10px;
	font-size: 40px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: down;
	list-style-type: none;
	padding: 10px;
    background: white;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset; 

}


/*
table{
width:600;
border:#0000CC;
margin:10px;
position:absolute;
}
*/

label.check {
  display: block;
  cursor: pointer;
  padding-left: 26px;
  background: url('check_off.png') left center no-repeat;
}
label.check input {
  position: absolute;
  left: -9999px;
}
label.check.c_on {
  background: url('check_on.png')  left center no-repeat;
}


.menu:link{color: black; text-decoration: none;}
.menu:visited{color: black; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: black; text-decoration: none;}


table td  {
height:11px;
size:15;
}

.sombra {
background: rgba(0,0,0,0.1); 
/*background-color: #f00; */
}
.sinborde {
border:none;
}
.sinbordeinferior
 {border-top:1px solid black; border-bottom:0}
 
